 * {
        margin: 0;
        padding: 0;
      }
      .btn {
        width: 6em;
        height: 6em;
        margin: 0.2em;
        border: none;
        cursor: pointer;
        background: #FF9933;
      }
      #viewer {
        width: 25.7em;
        height: 4em;
        margin: 0.3em;
        padding: 0.1em 0.8em;
      }
      #main {
        background: linear-gradient(to right, rgb(38, 232, 253), rgb(38, 124, 253));
        height: 100%;
      }
      form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
